body {
    color: red;
    font-family: Times New Roman, sans-serif;
    background-color: #bcccca;
}

p {color: #d40f6e;
    border: solid 1px #0ccdeb;
}

#today {
    color: #3a2396;
    border: solid 1px #0f4c8a;
}

ul {
    list-style-image: url("images/FontainesDC_Romance_4000x40002.jpg");
}              